
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Team Members</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Meet the Team</h1>-->
<!--    <div class="team">-->
<!--        <div class="container">-->
<!--            <div class="row team_row">-->
<!--                &lt;!&ndash; Loop through each team member &ndash;&gt;-->
<!--                &lt;!&ndash; Team Item &ndash;&gt;-->
<!--{% for member in team_members %}-->
<!--<div class="col-xl-3 col-md-6 team_col">-->
<!--    <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">-->
<!--        <div class="team_image"><img src="{{ member.image.url }}" alt=""></div>-->
<!--        <div class="team_content">-->
<!--            <div class="team_title"><a href="#">{{ member.name }}</a></div>-->
<!--            <div class="team_text">-->
<!--                <p>{{ member.description }}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endfor %}-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->
